.logo {
  color: $header-color;
}

.list {
  line-height: 2;
  text-align: left;
  li {
    color: $title-color;
    border-bottom: 1px solid $boarder-color;
  }
}

#app {
  font-family: $primary-font-fimily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
